<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-note-heading" jhiTranslate="plannerApp.note.home.createOrEditLabel">Create or edit a Note</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!note.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="note.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.markdown" for="field_markdown">Markdown</label>
                    <textarea class="form-control" name="markdown" id="field_markdown"
                        [(ngModel)]="note.markdown" required></textarea>
                    <div [hidden]="!(editForm.controls.markdown?.dirty && editForm.controls.markdown?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.markdown?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.html" for="field_html">Html</label>
                    <textarea class="form-control" name="html" id="field_html"
                        [(ngModel)]="note.html" required></textarea>
                    <div [hidden]="!(editForm.controls.html?.dirty && editForm.controls.html?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.html?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.editedAt" for="field_editedAt">Edited At</label>
                    <div class="d-flex">
                        <input id="field_editedAt" type="datetime-local" class="form-control" name="editedAt" [(ngModel)]="editedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.visibility" for="field_visibility">Visibility</label>
                    <select class="form-control" name="visibility" [(ngModel)]="note.visibility" id="field_visibility"  required>
                        <option value="PUBLIC">{{'plannerApp.Visibility.PUBLIC' | translate}}</option>
                        <option value="PRIVATE">{{'plannerApp.Visibility.PRIVATE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.visibility?.dirty && editForm.controls.visibility?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.visibility?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="note.ownerId"  required>
                        <option *ngIf="!editForm.value.owner" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.owner?.dirty && editForm.controls.owner?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.owner?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.goal" for="field_goal">Goal</label>
                    <select class="form-control" id="field_goal" name="goal" [(ngModel)]="note.goalId"  required>
                        <option *ngIf="!editForm.value.goal" [ngValue]="null" selected></option>
                        <option [ngValue]="goalOption.id" *ngFor="let goalOption of goals; trackBy: trackGoalById">{{goalOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.goal?.dirty && editForm.controls.goal?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.goal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
