<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-note-heading" jhiTranslate="plannerApp.note.home.createOrEditLabel">Create or edit a Note</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.markdown" for="field_markdown">Markdown</label>
                    <textarea class="form-control" name="markdown" id="field_markdown"
                              formControlName="markdown"></textarea>
                    <div *ngIf="editForm.get('markdown')!.invalid && (editForm.get('markdown')!.dirty || editForm.get('markdown')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('markdown')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.html" for="field_html">Html</label>
                    <textarea class="form-control" name="html" id="field_html"
                              formControlName="html"></textarea>
                    <div *ngIf="editForm.get('html')!.invalid && (editForm.get('html')!.dirty || editForm.get('html')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('html')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.edited" for="field_edited">Edited</label>
                    <div class="d-flex">
                        <input id="field_edited" type="datetime-local" class="form-control" name="edited" formControlName="edited" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.visibility" for="field_visibility">Visibility</label>
                    <select class="form-control" name="visibility" formControlName="visibility" id="field_visibility">
                        <option value="PUBLIC">{{'plannerApp.Visibility.PUBLIC' | translate}}</option>
                        <option value="PRIVATE">{{'plannerApp.Visibility.PRIVATE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('visibility')!.invalid && (editForm.get('visibility')!.dirty || editForm.get('visibility')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('visibility')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="ownerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plannerApp.note.goal" for="field_goal">Goal</label>
                    <select class="form-control" id="field_goal" name="goal" formControlName="goalId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="goalOption.id" *ngFor="let goalOption of goals; trackBy: trackById">{{goalOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
