/* ==========================================================================
Main page styles
========================================================================== */

@import '~bootstrap/scss/bootstrap.scss';

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
        background-size: contain;
    }
}

.theme-deck {
    @extend .card-deck;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .card {
        margin-bottom: 15px;
        margin-top: 15px;
        a {
            color: $body-color;
        }
    }
}

.theme-avatar {
    min-height: 64px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 64px;
        max-width: 64px;
    }
}

@media (min-width: 576px) {
    .theme-deck {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .theme-deck {
        grid-template-columns: repeat(3, 1fr);
    }
}
