<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="goal">
                <h2><span jhiTranslate="plannerApp.goal.detail.title">Goal</span> {{goal.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="plannerApp.goal.summary">Summary</span></dt>
                    <dd>
                        <span>{{goal.summary}}</span>
                    </dd>
                    <dt><span jhiTranslate="plannerApp.goal.order">Order</span></dt>
                    <dd>
                        <span>{{goal.order}}</span>
                    </dd>
                    <dt><span jhiTranslate="plannerApp.goal.completedAt">Completed At</span></dt>
                    <dd>
                        <span>{{goal.completedAt}}</span>
                    </dd>
                    <dt><span jhiTranslate="plannerApp.goal.tag">Tag</span></dt>
                    <dd>
                        <span *ngFor="let tag of goal.tags; let last = last">
                            <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.id}}</a>{{last ? '' : ', '}}
                        </span>
                    </dd>
                    <dt><span jhiTranslate="plannerApp.goal.theme">Theme</span></dt>
                    <dd>
                        <div *ngIf="goal.theme">
                            <a [routerLink]="['/theme', goal.theme.id, 'view']">{{goal.theme.name}}</a>
                        </div>
                    </dd>
                </dl>
    
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
    
                <button type="button"
                        [routerLink]="['/goal', goal.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
